{% extends 'base.html' %}

{% block content %}
     <!-- HERO / FIRST BLOG -->
      {% for i in blogs %}
      {% if forloop.first %}
      <div
        class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
        style="
          background-image: url('{{ i.featured_image.url }}');
          background-blend-mode: overlay;
          background-size: cover;
        "
      >
        <div class="col-md-8 px-0">
          <h1 class="display-4 font-italic">{{ i.title }}</h1>
          <p class="lead my-3">{{ i.short_description }}</p>
          <p class="lead mb-0">
            <a href="{% url 'blogs' i.slug %}" class="text-white font-weight-bold">Continue reading...</a>
          </p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <!-- FEATURED POSTS -->
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Featured Posts</h3>
      <div class="row mb-2">
        {% for i in blogs %}
        {% if not forloop.first %}
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-body">
              <a href="{% url 'blogs' i.slug %}" class="text-dark"><h3>{{ i.title }}</h3></a>
              <small class="mb-1 text-muted">{{ i.created_at|timesince }} ago | {{ i.author }}</small>
              <p class="card-text">{{ i.short_description }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <!-- RECENT ARTICLES + SIDEBAR -->
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Recent Articles</h3>

      <main role="main" class="container p-0">
        <div class="row">

          <!-- LEFT: RECENT ARTICLES -->
          <div class="col-md-8">
            <div class="row">
              {% for i in sample_posts %}
              <div class="col-md-6">
                <div class="card border-0">
                  <div class="card-body">
                    <a href="{% url 'blogs' i.slug %}" class="text-dark" ><h3>{{ i.title }}</h3></a>
                    <small class="mb-1 text-muted">{{ i.created_at|timesince }} ago | {{ i.author }}</small>
                    <p class="card-text">{{ i.short_description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- RIGHT: SIDEBAR -->
          <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
              <h4 class="font-italic">{{ about.about_heading }}</h4>
              <p class="mb-0">
                {{ about.about_description }}
              </p>
            </div>

            <div class="p-3">
              <h4 class="font-italic">Follow Us</h4>
              <ol class="list-unstyled">
                {% if social_links %}
                {% for i in social_links %}
                <li><a href="{{ i.link }}" page="_blank" >{{ i.platform }}</a></li>
                {% endfor %}
                {% endif %}
              </ol>
            </div>
          </aside>

        </div>
      </main>

    </div>

{% endblock %}


   
